.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  border-radius: 9999px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

ul.pagination li:first-child {
  border-radius: 9999px;
  border: 1px solid #e2e2e2;
}

ul.pagination li:last-child {
  border-radius: 9999px;
  border: 1px solid #e2e2e2;
}

ul.pagination li:nth-child(2) {
  border-radius: 9999px;
  border: 1px solid #e2e2e2;
}

ul.pagination li:nth-last-child(2) {
  border-radius: 9999px;
  border: 1px solid #e2e2e2;
}

ul.pagination li a {
  text-decoration: none;
  color: #48db48;
  font-size: 20px;
  /* border: 1px solid #e2e2e2; */
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #0d803f;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: #973fae;

}

.page-selection {
  /* width: 48px; */
  /* height: 30px; */
  /* color: #337ab7; */
}